/*
Author: Iskandar Zulkarnain
Codename: pl4y312
*/

/* General */

/* Header */
#logo{
	margin-right: 20px;
}

#header #profile{
	display: none;
}

#header #messages{
	margin-right: 65px;
}

#menu-header{
	background: #efea26;
	/*display: none;*/
}

#icon-menu-header{
	width: 45px;
	height: 40px;
	background: url('../img/icon-menu.png') center center no-repeat;
	content: '';
	border: 1px solid #666;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	right: 20px;
	top: -65px;
}

#header #bottom{
	background: none;
	position: absolute;
	width: 100%;
	z-index: 100;
}

#header #bottom li{
	float: none;
	display: block;
	line-height: 30px;
	width: 100%;
}

#header #bottom li a{
	border-right: none;
	float: none;
	display: block;
}

#menu-header ul > li > a:active,
#menu-header ul > li.current > a{
	background: #009A49;
	color: #FFF;
}

.sub-menu-header{
	background: #F7F485;
}

#menu-header .sub-menu-header a{
	background: none;
}

#menu-header .sub-menu-header a{
	line-height: 36px !important;
}

#header #menu-header .sub-menu-header li{
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}

#header #menu-header .sub-menu-header li.current a{
	background: #009A49;
	color: #FFF;
}

/* Sidebar */

/* Container */

/* Footer */

/**
*
* Responsive Style
*
**/
@media (max-width: 599px){
	#app-title{
		font-size: 20px;
		line-height: 32px;
		width: 50%;
		text-align: center;
	}
}

@media (max-width: 479px){
	#app-title{
		font-size: 16px;
		line-height: 24px;
		width: 38%;
		text-align: center;
		margin-top: 10px;
	}
}