/*
Author: Iskandar Zulkarnain
Codename: pl4y312
*/

/* General */

/* Header */
#header #top{
	background: #efea26;
	height: 84px;
	line-height: 60px;
	vertical-align: middle;
	padding: 10px 20px;
}

#header #top #panels{
	 float: right;
}

#header #messages{
	float: right;
	margin-right: 30px;
	position: relative;
}

#header .glyphicon{
	font-size: 20px;
	color: #9c9b18;
	line-height: 60px;
	cursor: pointer;
}

#header #messages .badge{
	background: #ed1c24;
	height: 10px;
	font-size: 8px;
	min-width: 10px;
	padding: 2px 1px;
	margin-top: -30px;
	margin-left: -5px;
	z-index: 2;
	position: relative;
}

#header #message-list:before{
	content: '';
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFF;
	position: absolute;
	right: 10px;
	top: 0px;
	margin-top: -20px;
}

#header #message-list{
	position: absolute;
	z-index: 10;
	right: 0px;
	background: #FFF;
	display: none;
	padding-top: 10px;
	width: 300px;
	box-shadow: 2px 2px 10px #888888;
}

#header #message-list li{
	line-height: 18px;
	font-size: 11px;
}

#header #message-list li.all-message{
	border-top: 1px solid #CCC;
	line-height: 20px;
	margin-top: 10px;
}

#header #message-list a{
	padding: 10px 20px;
	display: block;
}

#header #message-list a:hover{
	background: #F0F0F0;
	text-decoration: none;
}

#header #message-list .message-name,
#header #message-list .message-date{
	font-weight: bold;
}

#header #profile{
	width: 60px;
	line-height: 16px;
	text-align: center;
	font-size: 8px;
	float: right;
}

#header #profile img{
	border: 2px solid #FFF;
}

#header #bottom{
	background: url('../img/bg-header-menu.jpg') top center repeat;
	line-height: 57px;
	min-height: 57px;
}

#menu-header li a{
	float: left;
	line-height: 56px;
	padding: 0 25px;
	border-right: 1px solid #bcbdc0;
	margin-top: 1px;
	color: #616161;
}

#menu-header li a:hover,
#menu-header li.current a{
	background: #FFF;
	text-decoration: none;
	border-bottom: 0px;
}

#logo{
	margin-right: 110px;
}

#app-title{
	color: #818285;
	font-size: 24px;
}


/* Sidebar */
#sidebar{
}

/* Container */
#container{
	padding: 20px 15px;
}

.section{
	border: 1px solid #d8d8da;
	margin-bottom: 10px;
}

.section .head{
	border-bottom: 1px solid #d8d8da;
	padding: 10px 15px;
	background: url('../img/bg-header-section.jpg') top center repeat;
	font-weight: bold;
}

.section .head.alt{
	padding: 0px;
}

.section .head.alt span{
	padding: 10px 15px;
	display: inline-block;
	border-right: 1px solid #d8d8da;
}

.section .body{
	padding: 10px 15px;
}

form .control-label{
	text-align: left !important;
}

form .control-label.mandatory:after{
	content: ' *';
	color: red;
}

.form-condensed .form-group{
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}

/* Footer */
#footer{
}