/*
Author: Iskandar Zulkarnain
Codename: pl4y312
*/

/* General */
body{
	background: #FFF;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

img{
	border: 0px;
}

.clear{
	clear: both;
}

.wrap{
	width: 940px;
	margin: 0 auto;
}

ul,
li{
	margin: 0px;
	padding: 0px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* Header */
#header{
}

#logo{
	margin-right: 110px;
}

#app-title{
	color: #818285;
	font-size: 24px;
}

#header #login-form{
	width: 680px;
	text-align: right;
}

/* Sidebar */
#sidebar{
}

/* Container */
#container{
}

/* Footer */
#footer{
}