/*
Author: Iskandar Zulkarnain
Codename: pl4y312
*/

/* General */
body{
	background: #FFF;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body.bg-body{
	/*background-image: url('../img/wallpaper.jpg');*/
	background-image: url('../img/carousel-1.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

a{
	text-decoration: none;
}

img{
	border: 0px;
}

.clear{
	clear: both;
}

.wrap{
	width: 940px;
	margin: 0 auto;
}

ul,
li{
	margin: 0px;
	padding: 0px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* Header */
#header{
	background: #efea26;
	height: 80px;
	line-height: 60px;
	vertical-align: middle;
	padding: 10px 20px;
}

#logo{
	margin-right: 0px;
}

#app-title{
	color: #818285;
	font-size: 24px;
	position: absolute;
	left: 210px;
}

#header #login-form{
	width: auto;
	text-align: right;
}

#header .help-block{
	position: absolute;
	line-height: 20px;
	margin-top: -10px;
	font-style: italic;
	color: red;
}

/* Sidebar */
#sidebar{
}

/* Container */
#container{
}

#container #banner{
	height: 270px;
	width: 100%;
	background: url('../img/banner.jpg') center center no-repeat;
	background-size: auto 270px;
}

#container #kurs{
	width: 250px;
	border: 2px solid #156433;
}

#container #kurs td{
	background: #FFF;
	border-bottom: 1px solid #658a84;
	height: 24px;
	padding: 0 10px;
}

#container #kurs .alt{
	background: #c5e3c0;
	font-weight: bold;
	color: #676767;
}

#container .section>.title{
	font-size: 40px;
	text-transform: uppercase;
}

#container #bg-city{
	background: url('../img/city.jpg') center center no-repeat;
	height: 250px;
	width: 100%;
	background-size: cover;
}

#container .carousel{
	overflow: hidden;
}

#container .carousel .item{
	width: 300px;
	float: left;
	width: 33%;
}

#container .carousel .banner img{
	width: 300px;
	height: 160px
}

#container .carousel .title{
	font-size: 20px;
	height: 90px;
}

#container .carousel .link a{
	display: inline-block;
	border: 2px solid #156433;
	color: #156433;
	width: auto;
	padding: 10px 20px;
	text-transform: uppercase;
}

.bx-wrapper .bx-viewport{
	background: none !important;
}

/* Footer */
#footer{
}