/*
Author: Iskandar Zulkarnain
Codename: pl4y312
*/

/*General*/
#wrap2{
	width: 1000px;
	margin: 0 auto;
}

#login-page{
	background: #e7e7e8;
	color: #0f9848;
}

/*Header*/
#login-page #header{
	background: #139948;
	height: 50px;
}

/*Container*/
#login-page #container{
	background: #fff200;
}

#login-page #left-col a{
	color: #0f9848;
	letter-spacing: 3px;
	font-size: 14px;
}

#login-page #right-col{
	padding: 0 90px;
}

#login-page #right-col #title{
	font-size: 28px;
}

#login-page .login-form form{
	width: 360px;
	margin: 0 auto;
}

#login-page #footer{
	font-size: 20px;
}